<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2> {{user_profile.name}} </h2>
  <h3> Contact :  </h3> <text> {{user_profile.phone}} </text>
  <h3> Email : </h3> <text>  {{user_profile.email}} </text>
  <h3> About : </h3> <text> {{user_profile.summary}} </text>
  <hr>
  <br/>
  <h3> Work Experience : <br/> </h3>
    <text> {{user_profile.previous_work}} </text>
  <h3> Skills : <br/> </h3> <text> {{user_profile.skills}} </text>
  <hr>
  <br/>
  <h3> School : </h3> <text>{{user_profile.school}} <text>
  <h3> Degree : </h3> <text>{{user_profile.degree}} <text>
  <h3> University : </h3> <text>{{user_profile.university}} <text>


</body>
</html>